@import "sofia.css";
body {
    font-family: "Sofia Pro Bold", SansSerif;
}
a, p, span, h1, h2, h3, h4, h5, input {
    font-family: "Sofia Pro Bold", SansSerif !important;
    font-weight: 400 !important;
}
.w-1170 {
    max-width: 1170px;
    margin: 0 auto;
}
.view-all {
    font-size: 17px;
}
.text-violet {
    color: #32245e !important;
}
.text-orange {
    color: #ec671b;
}
.text-grey {
    color: #9790ad !important;
}
a.nav-item {
    position: relative;
}
.active-item {
    color: #ec671b !important;
}
.button a{
    text-align: center
}
.view-btn {
    display: none;
    color: #32245e;
}
a.active-item::after {
    content: "";
    position: absolute;
    left: -64px;
    top: -5px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid rgb(233, 231, 238);
}
/* --------- header ----------- */
header .violet-block {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background: #32245e;
    padding: 30px !important;
}
header nav {
    background: white;
    padding: 30px;
}
header nav ul {
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
h1 {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.login, a.auth{
    color: #ffffff;
    user-select: none;
    padding: .7em 1.5em;
    outline: none;
}
a.auth{
    background: #ec671b;
    white-space: nowrap;
}
a .login:hover { background: rgb(232, 95, 76); }
a .login:active { background: rgb(152, 15, 0); }

@media screen and (max-width: 430px) {
    header.violet-block {
        height: 80px;
    }
}
/* ----------- slider ------------ */
#block-slider{
    height: 100%;
    display: flex;
}
#block-slider .slider {
    width: 100%;
}
#block-slider .sidebar {
    width: 370px;
    background: #e9e7ee;
    padding: 0 50px;
}
#block-slider .sidebar ul li{
    padding: 30px 0;
    border-bottom: dotted 1px grey;
    white-space: nowrap;
}
#block-slider .sidebar ul li a{
    color: #32245e;
}
/* ----------- welcome ------------ */
#block-welcome {
    display: flex;
    justify-content: space-between;
    margin: 90px auto;
}
.sponsors{
    display: none;
}
.welcome_text {
    width: 50%;
}
.welcome_text .title {
    font-size: 50px;
}
.welcome_text .article {
    max-width: 470px;
    font-size: 20px;
    margin: 40px 0;
    color: #8d8d9b;
}
.welcome_banner {
    border: solid 1px #ededed;
    padding: 10px;
}
.find-more a {
    border: solid 1px #d5d2de;
    padding: 13px 48px;
}
.welcome_banner img {
    border: solid 3px #1a6473;
    padding: 20px;
}
.welcome_banner p {
    color: #fff;
    background: #1a6473;
    padding: 14px;
    height: 45px;
    margin-top: -3px;
}
.welcome_list {
    margin: 0 30px;
}
.welcome_list li{
    width: 270px;
    border-top: dotted 1px #ededed;
    padding: 18px 0;
    font-size: 17px;
}
.welcome_list li a {
    color: #32245e;
}
.welcome_list li:last-child {
    border-bottom: dotted 1px #ededed;
}
/* ----------- Get Started ------------ */
#block-get-started {
    height: 731px;
    background: url('@/assets/images/get_started_membership.png') no-repeat;
    background-size: cover;
    padding: 120px 0 95px 0;
}
.block-get-started__content {
    max-width: 470px;
    float: left;
}
.block-get-started__content h3{
    font-size: 50px;
    color: white;
}
.block-get-started__content p{
    font-size: 20px;
    color: white;
    margin-top: 30px;
}
.block-get-started__content ul {
    margin-top: 30px;
}
.block-get-started__content ul li{
    color: #fff;
    margin-top: 50px;
    position: relative;
}
.block-get-started__content ul li span{
    position: absolute;
    top: 15px;
}
.block-get-started__content ul li img {
    margin-right: 24px;
}
.member a {
    background: #ec671b;
    white-space: nowrap;
    color: white;
    padding: 13px 29px;
}
/* ----------- News ------------ */
.block-news__content {
    display: grid;
    grid-gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
}
#block-news h3,
#block-events h3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#block-news {
    padding: 95px 0;
}
.block-news__content img {
    width: 100%;
}
#block-news h3 {
    font-size: 30px;
    border-bottom: 4px solid #d5d2de;
    padding-bottom: 19px;
    margin-bottom: 30px;
}
.post-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.post-text h4 {
    margin-top: 10px;
    color: #32245e;
    font-size: 20px;
}
.post-date {
    display: flex;
    justify-content: space-between;
    color: #9790ad;
    font-size: 12px;
}
.post {
    border-bottom: solid 1px #d5d2de;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width: 1170px) {
    .block-news__content .post:nth-child(2) .post-content{
        height: auto !important;
        padding-left: 20px !important;
    }
    .block-news__content {
        grid-template-columns: 2fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }
    .block-news__content .post:first-child {
        grid-row: 1/4;
    }
    .block-news__content .post:nth-child(2) {
        grid-column: 1/2;
        grid-row: 4/5;
        display: flex;
        flex-direction: row;
    }
    .block-news__content .post{
        grid-row: span 2;
    }
}
/* ----------- Bank ------------ */
#block-bank {
    height: 544px;
    background: #0a2c5d;
}
#block-bank > div {
    position: relative;
    padding-top: 100px;
}
img.bank_img{
    position: absolute;
    top: -44px;
    right: 0;
}
/* ---- bank ---- */
.bank_img__mobile{
    position: relative;
    background: #0a2c5d;
    height: 19.6em;
}
.bank_img__mobile img{
    width: 370px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.bank_img__mobile {
    display: none;
}
.bank_content {
    width: 470px;
}
.bank_content h4{
    margin-top: 50px;
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}
.bank_content p{
    padding: 13px 0;
    color: white;
    background: #8eb254;
    width: 200px;
}
/* ----------- Events ------------ */
#block-events{
    padding-top: 91px;
    padding-bottom: 100px;
}
#block-events h3 {
    font-size: 30px;
    border-bottom: 4px solid #d5d2de;
    padding-bottom: 19px;
    margin-bottom: 30px;
}
.block-event__content {
    display: flex;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.block-event__content .post img {
    width: 100%;
}
.block-event__content .post {
    margin: 0 15px;
    height: 384px;
}
/* --- footer --- */
footer {
    padding: 100px 0 30px 0!important;
    background-color: #f7f7f9;
    border-top: solid 5px #d5d2de;
}
footer .block-logo {
    margin-bottom: 50px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-content ul li a{
    font-size: 17px;
    color: #32245e;
}
.footer-content ul li {
    margin-bottom: 15px;
}
.footer-about ul li a{
    color: #9790ad;
}
.footer-form {
    width: 370px;
}
.footer-form input{
    width: 370px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-form input::placeholder {
    color: #d5d2de;
    font-size: 17px;
    padding-left: 5px;
}
footer .copyright {
    border-top: solid 1px #d5d2de;
    padding-top: 30px;
    margin-top: 100px;
    color: #9790ad;
}
@media screen and (max-width: 1170px) {
    /* --- footer --- */
    .w-1170 {
        padding: 0 30px;
    }
    footer .copyright {
        margin-top: 2em;
    }
    /* --- bank --- */
    .bank_content {
        width: 30%;
    }
    /* --- news --- */
    #block-news {
        padding: 95px 30px;
    }
    .post-text {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1170px){
    .block-news__content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 992px) {
    /* --- footer --- */
    .footer-about, .footer-meta {
        display: none;
    }
    /* --- event --- */
    #block-events{
        padding-top: 91px;
        padding-bottom: 2em;
    }
    /* --- bank --- */
    .bank_content {
        width: 100%;
        padding-bottom: 2em;
    }
    .bank_img {
        display: none;
    }
    .bank_img__mobile {
        display: block;
        margin-left: -30px;
        margin-right: -30px;
    }
    #block-bank {
        height: auto
    }
    #block-bank > div {
         padding-top: 4em;
    }
    /* --- header --- */
    header .violet-block h1{
        display: none;
    }
    /* --- welcome --- */
    #block-welcome {
        flex-wrap: wrap;
    }
    .welcome_banner {
        margin: 50px auto;
    }
    /* --- get-start --- */
    #block-get-started {
        padding: 45px 0px;
    }
    /* --- events --- */
    .block-event__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .block-event__content .post {
        height: auto;
    }
    /* --- news --- */
    .block-news__content {
        grid-template-columns: 1fr;
    }
    #block-news {
        padding: 45px 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .block-news__content {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    /* --- footer --- */
    footer {
        padding: 50px 0 !important;
    }
    .footer-content {
        flex-direction: column;
        align-items: start;
    }
    .footer-form {
        width: auto;
    }
    .footer-form input {
        width: 100%;
    }
    /* --- event --- */
    .block-event__content {
        justify-content: center;
    }
    #block-events {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    /* --- bank --- */
    #block-bank > div {
        padding-top: 50px;
    }
    /* --- header --- */
    header nav {
        display: none;
    }
    header .block-logo img{
        width: 207px;
        height: 45px;
    }
    /* --- slider --- */
    #block-slider .sidebar{
        display: none;
    }
    .slider-content__sponsors {
        display: none;
    }
    .block-dots {
        display: block !important;
    }
    /* --- welcome --- */
    #block-welcome {
        flex-direction: column;
        margin: 45px auto;
    }
    .welcome_list {
        margin: auto;
    }
    .welcome_text .title {
        font-size: 30px;
    }
    #block-welcome .welcome_text {
        width: 100%;
        margin-bottom: 30px;
    }
    .welcome_text .article {
        max-width: 100%;
    }
    #block-welcome .find-more {
        text-align: center;
    }
    .welcome_banner {
        margin: 30px auto 0 auto;
    }
    .sponsors {
        display: block;
    }
    .sponsors-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 45px;
        margin-top: 26px;
    }
    /* --- news --- */
    .block-news__content .post:not(:nth-child(1)) {
        flex-direction: row !important;
        padding-bottom: 20px;
    }
    .block-news__content .post:not(:nth-child(1)) p,
    .block-news__content .post:not(:nth-child(1)) .post-date {
        display: none
    }
    .block-news__content .post:not(:nth-child(1)) .post-content {
        padding: 0 0 0 20px !important;
    }
    .block-news__content .post:not(:nth-child(1)) img {
        height: 67px;
        width: auto;
    }
}
@media screen and (max-width: 576px) {
    header .violet-block .block-auth {
        display: none;
    }
    .button a{
        width: 100%;
        display: block;
    }
    .welcome_list, .welcome_list li {
        width: 100%;
    }
    .block-news__content .post:not(:nth-child(-n+4)) {
        display: none;
    }
    .block-event__content {
        grid-template-columns: 1fr;
    }
    .block-event__content .post:not(:nth-child(1)) {
        display: none;
    }
    .bank_content p{
        width: 100%;
    }
    .view-all {
        display: none;
    }
    .view-btn {
        display: block;
    }
}
@media screen and (max-width: 430px) {
    /* --- bank --- */
    .bank_img__mobile img {
        width: 260px;
    }
    .bank_img__mobile{
        height: 13.8em;
    }
}